.user-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 2%;
  justify-content: right;

}
.user-container .user-item{
  width: 20%;
  border: 1px solid #000;
  margin:1%;
  text-align: center;
}
.user-container .user-item img{
  width:100%;
  height:60%;
 
}
.page-content{
  display: flex;
}
.page-content .sidebar{
  position: fixed;
}